<th:block th:fragment="admin-navbar" xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" th:href="@{/}"><img src="/images/logo.png" alt="Movie Land"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <div class="dropdown">
                        <a class="nav-link" id="cinemasDropdown" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Cinemas</a>
                        <div class="dropdown-menu" aria-labelledby="cinemasDropdown">
                            <a class="dropdown-item" th:href="@{/cinemas/create}">Create</a>
                            <a class="dropdown-item" th:href="@{/cinemas/all}">Show All</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item active">
                    <div class="dropdown">
                        <a class="nav-link" id="hallsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">Halls</a>
                        <div class="dropdown-menu" aria-labelledby="hallsDropdown">
                            <a class="dropdown-item" th:href="@{/halls/create}">Create</a>
                            <a class="dropdown-item" th:href="@{/halls/all}">Show All</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item active">
                    <div class="dropdown">
                        <a class="nav-link" id="moviesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">Movies</a>
                        <div class="dropdown-menu" aria-labelledby="moviesDropdown">
                            <a class="dropdown-item" th:href="@{/movies/create}">Create new Movie</a>
                            <a class="dropdown-item" th:href="@{/movies/all}">Show all Movies</a>
                            <a class="dropdown-item" th:href="@{/genres/create}">Create new Genre</a>
                            <a class="dropdown-item" th:href="@{/genres/all}">Show all Genres</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item active">
                    <div class="dropdown">
                        <a class="nav-link" id="programmeDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">Programme</a>
                        <div id="programmeDiv" class="dropdown-menu" aria-labelledby="programmeDropdown">
                            <a class="dropdown-item" th:href="@{/programmes/create}">Create</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item active">
                    <div class="dropdown">
                        <a class="nav-link" id="projectionsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">Projections</a>
                        <div class="dropdown-menu" aria-labelledby="projectionsDropdown">
                            <a class="dropdown-item" th:href="@{/projections/create}">Create</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item active">
                    <div class="dropdown">
                        <a class="nav-link" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">Your profile</a>
                        <div class="dropdown-menu" aria-labelledby="userDropdown">
                            <div class="dropdown-item" th:text="${'Hello, ' + #strings.substring(#authentication.principal.fullName, 0, #strings.indexOf(#authentication.principal.fullName, ' '))}"></div>
                            <a class="dropdown-item" th:href="@{/users/bookings}">My Bookings</a>
                            <a class="dropdown-item" th:href="@{/admin/users/all}">All Users</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</th:block>
