<th:block th:fragment="user-navbar" xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" th:href="@{/}"><img src="/images/logo.png" alt="Movie Land"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <div class="dropdown">
                        <a class="nav-link" id="programmeDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">Programme</a>
                        <div id="programmeDiv" class="dropdown-menu" aria-labelledby="programmeDropdown">
                        </div>
                    </div>
                </li>
                <li class="nav-item active">
                    <div class="dropdown">
                        <a class="nav-link" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">Your profile</a>
                        <div class="dropdown-menu" aria-labelledby="userDropdown">
                            <div class="dropdown-item" th:text="${'Hello, ' + #strings.substring(#authentication.principal.fullName, 0, #strings.indexOf(#authentication.principal.fullName, ' '))}"></div>
                            <a class="dropdown-item" th:href="@{/users/bookings}">My Bookings</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</th:block>
