<div class="container-fluid w-70 bg-form" id="mainElement" xmlns:th="http://www.thymeleaf.org">
    <div class="container-fluid d-flex justify-content-center">
        <h1 class="m-3">Delete Movie</h1>
    </div>

    <!--/*@thymesVar id="model" type="movieland.domain.models.view.movie.MovieDeleteViewModel"*/-->
    <div class="container-fluid d-flex justify-content-center">
        <th:block th:object="${model}">
            <div>
                <h3 class="m-3">Do you really want to delete "<span th:text="*{title}"></span>" movie?</h3>
                <div class="container-fluid d-flex justify-content-center">
                    <form th:action="@{/movies/delete}" method="post">
                        <input hidden="hidden" id="id" name="id" th:field="*{id}">
                        <div class="d-flex justify-content-center">
                            <div class="m-3">
                                <button type="submit" class="btn btn-danger">Yes</button>
                            </div>
                        </div>
                    </form>
                    <form th:action="@{/movies/all}" method="get">
                        <div class="d-flex justify-content-center">
                            <div class="m-3">
                                <button type="submit" class="btn btn-secondary">No</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </th:block>
    </div>
</div>