<th:block th:fragment="navbar" xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <th:block sec:authorize="isAnonymous()">
        <th:block th:include="~{fragments/navbars/guest-navbar}"></th:block>
    </th:block>
    <th:block sec:authorize="hasRole('USER')">
        <th:block th:include="~{fragments/navbars/user-navbar}"></th:block>
    </th:block>
    <th:block sec:authorize="hasAnyRole('ADMIN', 'ROOT_ADMIN')">
        <th:block th:include="~{fragments/navbars/admin-navbar}"></th:block>
    </th:block>

    <script>
        $(document).ready(function () {
            $.ajax({
                type: 'GET',
                url: '/api/cinemas/all',
                success: function (cinemas) {
                    for (let cinema of cinemas) {
                        $('#programmeDiv')
                            .append(
                                $('<a/>')
                                    .attr({'class': 'dropdown-item'})
                                    .attr({'href': '/programmes/cinema/' + cinema.id})
                                    .text(cinema.name)
                            );
                    }
                },
                error: function (e) {
                    console.log(e);
                }
            })
        });
    </script>
</th:block>
