@import url('https://fonts.googleapis.com/css?family=Be+Vietnam:400,700&display=swap');

body {
    overflow-x: hidden;
    font-family: 'Be Vietnam', sans-serif;
    color: #213131; /* Color of the text inside body */
    background-color: #ffd146;
}

main > * {
    border-radius: 8px;
}

/*--- Navigation --*/

.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 1.5px;
    background-color: rgb(37, 37, 37)!important;
}

.navbar-brand img {
    height: 40px;
    margin-left: 100px;
}

.navbar-nav li {
    padding-right: 11.5px;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    padding-top: 13px;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #ffd146;
}

/*--- Fixed Navbar jumping on scroll --*/
.fixed-top  {
    -webkit-backface-visibility: hidden;
}

/*--- Fixed Index Page Section --*/
.index-page {
    position: relative;
    width: 100%;
    height: 100vh;
    display: table;
    z-index: -1;
}

.index-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.index-inner {
    position: fixed;
    display: table;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
    background-image: url(../images/cinema-index-page-picture.jpg);
    opacity: 0.8;
}

.caption-index {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 38%;
    z-index: 1;
    color: white;
    text-transform: uppercase;
}

.caption-index h1 {
    font-size: 55px;
    font-weight: 700;
    letter-spacing: 3px;
    text-shadow: 2px 2px 3px black;
    padding-bottom: 15px;
}

.caption-index h3 {
    font-size: 35px;
    text-shadow: 2px 2px 3px black;
    padding-bottom: 25px;
}

.btn-index-programme {
    border-width: medium;
    border-radius: 0;
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: 1.1rem;
}

#mainElement {
    margin-top: 100px;
    margin-bottom: 40px;
}

.bg-form {
    background-color: #f7f9fb
}

.w-10 {
    width: 10%;
}

.w-15 {
    width: 15%;
}

.w-20 {
    width: 20%;
}

.w-70 {
    width: 70%;
}

/*--- Extra Bootstrap Column Padding --*/
[class*="col-"] {
    padding: 15px;
}

/*--- Footer/Contact setion --*/

footer {
    background-color: rgb(37, 37, 37);
    color: white;
    height: 80px;
}

footer img {
    height: 32px;
    margin: 8px 0;
}

footer a {
    color: white;
}

footer svg.svg-inline--fa {
    font-size: 26px;
    margin: 20px 8px 0 0;
}

footer svg.svg-inline--fa:hover {
    color: #ffd146!important;
}

#http-status-image {
    height: 300px;
    width: 70%;
    background-color: powderblue;
}

.programme-movie-block {
    background-color: rgb(37, 37, 37);
    border-style: groove;
    border-radius: 15px;
}

.movie-projections {
    height: 185px;
    border-radius: 25px;
}

.flex-projection {
    display: flex;
}

.flex-projection img {
    margin-right: 10px;
    display: block;
}

