<div class="container-fluid w-70 bg-form" id="mainElement" xmlns:th="http://www.thymeleaf.org">
    <div class="container-fluid d-flex justify-content-center">
        <h1 class="m-3">Add a new Projection</h1>
    </div>

    <!--/*@thymesVar id="model" type="movieland.domain.models.binding.projection.ProjectionCreateBindingModel"*/-->
    <form th:action="@{/projections/create}" method="POST" th:object="${model}">
        <div class="form-group">
            <label for="movieId">Movie</label>
            <select class="form-control" id="movieId" name="movieId">
                <option value="" selected disabled hidden>Choose here</option>
            </select>
            <th:block th:if="${#fields.hasErrors('movieId')}" >
                <small class="text-danger" th:errors="*{movieId}"></small>
                <br />
            </th:block>
        </div>
        <div class="form-group">
            <label for="cinemaId">Cinema</label>
            <select class="form-control" id="cinemaId" name="cinemaId">
                <option value="" selected disabled hidden>Choose here</option>
            </select>
        </div>
        <div class="form-group">
            <label for="hallId">Hall</label>
            <select class="form-control" id="hallId" name="hallId">
                <option value="" selected disabled hidden>Choose here</option>
            </select>
            <th:block th:if="${#fields.hasErrors('hallId')}" >
                <small class="text-danger" th:errors="*{hallId}"></small>
                <br />
            </th:block>
        </div>
        <div class="form-group">
            <label for="startingTime">Starting Time</label>
            <input type="datetime-local" class="form-control" id="startingTime" placeholder="Starting Time..." name="startingTime" th:field="*{startingTime}"
                   th:styleappend="${#fields.hasErrors('startingTime')} ? 'border-color: red'">
            <th:block th:if="${#fields.hasErrors('startingTime')}" >
                <small class="text-danger" th:errors="*{startingTime}"></small>
                <br />
            </th:block>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="isStateOfEmergency" name="isStateOfEmergency" th:field="*{isStateOfEmergency}">
            <label class="form-check-label" for="isStateOfEmergency">Is State Of Emergency?</label>
        </div>
        <div class="d-flex justify-content-end">
            <div class="m-3">
                <button type="submit" class="btn btn-secondary">Add</button>
            </div>
        </div>
    </form>
</div>

<script>
    $(document).ready(function () {
        $.ajax({
            type: 'GET',
            url: '/api/cinemas/all',
            success: function (cinemas) {
                /*<![CDATA[*/
                let cinemaId = '[[${model.cinemaId}]]';
                /*]]>*/
                for (let cinema of cinemas) {
                    let optionValue = $('<option/>')
                        .attr({'value': cinema.id})
                        .text(cinema.name);

                    if (cinema.id === cinemaId) {
                        optionValue.prop("selected", true);
                    }

                    $('#cinemaId')
                        .append(optionValue);
                }
            },
            error: function (e) {
                console.log(e);
            }
        })
    })
</script>

<script>
    $('#cinemaId').change(function () {
        $.ajax({
            type: 'GET',
            url: '/api/halls/cinema/' + $('#cinemaId').val(),
            success: function (halls) {
                /*<![CDATA[*/
                let hallId = '[[${model.hallId}]]';
                /*]]>*/
                for (let hall of halls) {
                    let optionValue = $('<option/>')
                        .attr({'value': hall.id})
                        .text(hall.name);

                    if (hall.id === hallId) {
                        optionValue.prop("selected", true);
                    }

                    $('#hallId')
                        .append(optionValue);
                }
            },
            error: function (e) {
                console.log(e);
            }
        })
    });
</script>

<script>
    $(document).ready(function () {
        $.ajax({
            type: 'GET',
            url: '/api/movies',
            success: function (movies) {
                /*<![CDATA[*/
                let movieId = '[[${model.movieId}]]';
                /*]]>*/
                for (let movie of movies) {
                    let optionValue = $('<option/>')
                        .attr({'value': movie.id})
                        .text(movie.title);

                    if (movie.id === movieId) {
                        optionValue.prop("selected", true);
                    }

                    $('#movieId')
                        .append(optionValue);
                }
            },
            error: function (e) {
                console.log(e);
            }
        })
    });
</script>

<script>
    $('#cinemaId').change(function () {
        $('#hallId').clear();
        $.ajax({
            type: 'GET',
            url: '/api/halls/cinema/' + $('#cinemaId').val(),
            success: function (halls) {
                /*<![CDATA[*/
                let hallId = '[[${model.hallId}]]';
                /*]]>*/
                for (let hall of halls) {
                    let optionValue = $('<option/>')
                        .attr({'value': hall.id})
                        .text(hall.name);

                    if (hall.id === hallId) {
                        optionValue.prop("selected", true);
                    }

                    $('#hallId')
                        .append(optionValue);
                }
            },
            error: function (e) {
                console.log(e);
            }
        })
    });
</script>


<script>
    let today = new Date();

    $(document).ready(function () {

        $(function () {
            $('#startingTime').val(new Date(today.getFullYear(), today.getMonth(), today.getDate(), today.getHours() + 4, today.getMinutes(), 0, 0).toISOString().substr(0, 19));
        });
        /*<![CDATA[*/
        let cinemaId = '[[${model.cinemaId}]]';
        /*]]>*/
        if (cinemaId === '') {
            cinemaId = $('#cinemaId').val();
        }
        $.ajax({
            type: 'GET',
            url: '/api/halls/cinema/' + cinemaId,
            success: function (halls) {
                /*<![CDATA[*/
                let hallId = '[[${model.hallId}]]';
                /*]]>*/
                for (let hall of halls) {
                    let optionValue = $('<option/>')
                        .attr({'value': hall.id})
                        .text(hall.name);

                    if (hall.id === hallId) {
                        optionValue.prop("selected", true);
                    }

                    $('#hallId')
                        .append(optionValue);
                }
            },
            error: function (e) {
                console.log(e);
            }
        })
    });
</script>