<div class="container-fluid w-70 bg-form" id="mainElement" xmlns:th="http://www.thymeleaf.org"
     xmlns="http://www.w3.org/1999/html">
<!--    /*@thymesVar id="model" type="movieland.domain.models.view.projection.ProjectionViewModel"*/-->

    <div class="container-fluid d-flex justify-content-center mb-3">
        <h1 class="m-3" th:text="'Projection of movie' + ' \'' + ${model.movieTitle} + '\''"></h1>
    </div>

    <div class="container-fluid d-flex justify-content-center mb-3">
        <h3 th:text="'Cinema: ' + ${model.hallCinemaName}"></h3>
        <h3 class="ml-5" th:text="'Hall: ' + ${model.hallName}"></h3>
    </div>
    <div class="container-fluid d-flex justify-content-center mb-3">
        <h4 th:text="'Rows: ' + ${model.hallRows}"></h4>
        <h4 class="ml-5" th:text="'Columns: ' + ${model.hallColumns}"></h4>
    </div>
    <div class="container-fluid d-flex justify-content-center ml-5 mb-5">
        <h5 th:text="'Starting time: ' + ${#temporals.format(model.startingTime, 'dd-MM-yyyy HH:mm')}"></h5>
        <h5 class="ml-5" th:text="'Ending time: ' + ${#temporals.format(model.endingTime, 'dd-MM-yyyy HH:mm')}"></h5>
    </div>

    <ul class="showcase">
        <li>
            <div class="seat"></div>
            <small>Free</small>
        </li>
        <li>
            <div class="seat selected"></div>
            <small>Selected</small>
        </li>
        <li>
            <div class="seat occupied"></div>
            <small>Occupied</small>
        </li>
        <li th:if="${model.stateOfEmergency}">
            <div class="seat blocked"></div>
            <small>Blocked</small>
        </li>
    </ul>

    <div class="container">
        <p class="container-fluid justify-content-center text">Screen</p>
        <div class="screen"></div>

    </div>

    <p class="container-fluid justify-content-center text">
        You have selected '<span id="count">0</span>' seats for a price of $<span class="mr-5" id="price">0</span>
    </p>
    <div>
        <p class="container-fluid justify-content-center text mt-4 mb-2">
            <button class="book-button btn btn-info mb-2">Book :)</button>
        </p>
    </div>
</div>
<script>
    const container = document.querySelector('.container');
    const count = document.getElementById('count');
    const price = document.getElementById('price');
    const bookButton = document.querySelector('.book-button');

    $(document).ready(function () {
        /*<![CDATA[*/
        let projectionId = '[[${model.id}]]';
        let rows = '[[${model.hallRows}]]';
        let columns = '[[${model.hallColumns}]]';
        /*]]>*/
        $.ajax({
            type: 'GET',
            url: '/api/projections/' + projectionId + '/seats',
            success: function (seats) {
                let seatsIterator = seats[Symbol.iterator]();
                for (let i = 1; i <= rows; i++) {
                    let rowElement = document.createElement('div');
                    rowElement.classList.add('row');
                    container.appendChild(rowElement);

                    for (let j = 1; j <= columns; j++) {
                        let currentSeat = seatsIterator.next().value;

                        let seatElement = document.createElement('div');
                        seatElement.classList.add('seat');

                        if (currentSeat.blocked) {
                            seatElement.classList.add('blocked');
                        } else if (!currentSeat.free) {
                            seatElement.classList.add('occupied');
                        }

                        let priceElement = document.createElement('input');
                        priceElement.setAttribute('type', 'number');
                        priceElement.setAttribute('class', 'seat-price');
                        priceElement.setAttribute('value', currentSeat.price);
                        priceElement.setAttribute('hidden', '');

                        seatElement.appendChild(priceElement);

                        let idElement = document.createElement('input');
                        idElement.setAttribute('type', 'text');
                        idElement.setAttribute('class', 'seat-id');
                        idElement.setAttribute('value', currentSeat.id);
                        idElement.setAttribute('hidden', '');

                        seatElement.appendChild(idElement);

                        rowElement.appendChild(seatElement);
                    }
            }
        }});
    });

    const updateSelectedSeatsCount = () => {
        const selectedSeats = document.querySelectorAll('.row .selected');
        price.innerText = '0';

        for (let selectedSeat of selectedSeats) {
            let seatPrice = selectedSeat.querySelector('.seat-price').value;
            price.innerText = Number(price.innerText) + Number(seatPrice);
        }

        count.innerText = selectedSeats.length;
    };

    // Seat select event
    container.addEventListener('click', e => {
        if (e.target.classList.contains('seat') && !e.target.classList.contains('occupied') && !e.target.classList.contains('blocked')) {
            e.target.classList.toggle('selected');

            updateSelectedSeatsCount();
        }
    });

    // Seats booking event
    bookButton.addEventListener('click', e => {
        let mainElement = document.getElementById('mainElement');
        mainElement.removeChild(mainElement.lastChild);

        const selectedSeats = document.querySelectorAll('.row .selected');

        let seatsIds = [];
        for (let selectedSeat of selectedSeats) {
            let seatId = selectedSeat.querySelector('.seat-id').value;
            seatsIds.push(seatId)
        }

        if (seatsIds.length > 0) {
            $.ajax({
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(seatsIds),
                url: '/api/projections/seats/booking',
                success: function () {
                    window.location.href = "/users/bookings";
                },
                error: function (error) {
                    if (error.status === 500) {
                        let errElement = document.createElement('p');
                        errElement.setAttribute('class', 'container-fluid justify-content-center text');
                        errElement.setAttribute("style", 'color:red');
                        errElement.innerText = error.responseJSON.message;

                        mainElement = document.getElementById('mainElement');
                        mainElement.appendChild(errElement);
                    } else {
                        /*<![CDATA[*/
                        let projectionId = '[[${model.id}]]';
                        /*]]>*/
                        let errElement = document.createElement('p');
                        errElement.setAttribute('class', 'container-fluid justify-content-center text');
                        errElement.setAttribute("style", 'color:red');
                        errElement.innerHTML = 'You have to authenticate to book some tickets -' + ' <a href="/login">Login</a>';

                        mainElement = document.getElementById('mainElement');
                        mainElement.appendChild(errElement);
                    }
                }
            });
        }
    });
</script>